{% extends 'blog/base.html' %}

{% block content %}
	<h3>Topic: {{ topic }}</h3>
	<hr>
    {% if posts %}
    {% for post in posts %}    	
        <div class="post">        
            <div class="date">
                {{ post.updated_date }}
            </div>
            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
            <p>{{ post.text|linebreaksbr }}</p>        
        </div>        
        <hr>
    {% endfor %}    
    {% else %}
        <strong>There are no posts present.</strong>
    {% endif %}
{% endblock %}